*~
\#*\#
*.orig
.\#*
*.a
*.so
._*.sn
GPATH
GRTAGS
GSYMS
GTAGS
/object
/objects
version
*.org_archive
/python/pgtest
/doc
/obj
*.do
/.redo
*.redo*.tmp
/_logs
/object



/NetBeansProjects/Fpu_NetBeans/dist/
/NetBeansProjects/Fpu_NetBeans/build/
python/src/FpuBPShared_General.o
python/src/mdb.o
python/src/midl.o
