*~
\#*\#
*.orig
.\#*
*.a
*.so
._*.sn
GPATH
GRTAGS
GSYMS
GTAGS
/objects
version
*.org_archive
/python/pgtest
*.do
/.redo
/_logs
/object
python/doc/_minted-manual/
python/doc/manual.maf
python/doc/manual.mtc*


