*~
\#*\#
*.orig
.\#*
*.a
*.so
._*.sn
GPATH
GRTAGS
GSYMS
GTAGS
/object
/objects
version
*.org_archive
/python/pgtest
/doc
/obj
*.do
/.redo
*.redo*.tmp
/_logs
/object



/NetBeansProjects/Fpu_NetBeans/dist/
/NetBeansProjects/Fpu_NetBeans/build/
python/src/WrapperSharedBase.o
python/src/mdb.o
python/src/midl.o
/NetBeansProjects/FPUAdmin/build/
/NetBeansProjects/FPUAdmin/dist/
NetBeansProjects/Fpu_NetBeans/nbproject/private/private.xml
NetBeansProjects/FPUAdmin/nbproject/private/private.xml
