*.aux
*.log
/_minted-tutorial/
/_minted-manual/
*.dvi
*.out
*.toc
*.pdf
*.idx
*.ilg
*.ind
/_minted-tutorial-tmp/
/_minted-manual-tmp/
tutorial-tmp.aux
tutorial-tmp.aux
tutorial-tmp.fdb_latexmk
tutorial-tmp.fls
tutorial-tmp.idx
tutorial-tmp.log
tutorial-tmp.out
tutorial-tmp.tex
tutorial.fdb_latexmk
manual-tmp.fdb_latexmk
manual-tmp.fls
manual-tmp.idx
manual-tmp.log
manual-tmp.out
manual-tmp.tex
manual.fdb_latexmk


